name: "Update Change Log"

on:
  workflow_dispatch:

jobs:
  build:
    name: Rebuild Change Log
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Commit updated change log
        run: |
          python3.13 -m pip install -r requirements.txt
          gitchangelog > CHANGELOG.md
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add CHANGELOG.md
          git commit -m "doc: update CHANGELOG.md" || exit 0
          git push
